@using LastMinuteWebApp.Models
@model SearchOffertViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LASTMINUTE</h1>
    <p class="lead">Best deals you can find online.</p>

</div>

<h2>Offerts</h2>

<div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.SearchTerm, "Phrase")
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SearchCategory, "Filter by")
            @Html.DropDownListFor(m => m.SearchCategory,
           Model.SearchCategoryList.Select(x => new SelectListItem { Text = x.Text, Value = x.Value }),
           new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div style="margin-top: 25px">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<br />

@if (Model.SearchResults.Any())
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Descritpion</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Deadline time</th>
            <th>Action</th>
        </tr>

        @foreach (var offert in Model.SearchResults)
        {
            <tr>
                <td>@offert.title</td>
                <td>@Html.Raw(offert.description)</td>
                <td>@offert.price zł</td>
                <td>@offert.quantity</td>
                <td>@offert.deadlineTime</td>
                <td>
                    <div class="btn-group-vertical">
                        @using (Html.BeginForm("Reserve", "Home"))
                        {
                            @Html.Hidden("OffertId", offert.id)
                            <input type="submit" value="Reserve" class="btn btn-default" style="width: 100%" />
                        }
                        @using (Html.BeginForm("AddToFavourites", "Home"))
                        {
                            @Html.Hidden("OffertId", offert.id)
                            <input type="submit" value="Like it" class="btn btn-default" style="width: 100%" />
                        }
                        @Html.ActionLink("Details", "ReservationDiteils", "ClientPrivate", new { offertId = offert.id}, new { @class = "btn btn-default", style = "width: 100%" })
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <text><br />No records found...<br /></text>
}

<br />
Page @(Model.SearchResults.PageCount < Model.SearchResults.PageNumber ? 0 : Model.SearchResults.PageNumber) of @Model.SearchResults.PageCount

@Html.PagedListPager(Model.SearchResults, page => Url.Action("Index", "Home",
    new { Model.SearchTerm, Model.SearchCategory, page }))
