@using LastMinuteWebApp.Models
@model SearchFavouriteOffertViewModel
@{
    ViewBag.Title = "My Favourite Offerts";
}

<h2>My Favourite Offerts</h2>

<div>
    @using (Html.BeginForm("SearchOfferts", "ClientPrivate", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.SearchTerm, "Phrase")
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SearchCategory, "Filter by")
            @Html.DropDownListFor(m => m.SearchCategory,
           Model.SearchCategoryList.Select(x => new SelectListItem { Text = x.Text, Value = x.Value }),
           new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div style="margin-top: 25px">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<br />

@if (Model.Favourites.Any())
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Descritpion</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Deadline time</th>
        </tr>

        @foreach (var favourite in Model.Favourites)
        {
            <tr>
                <td>@favourite.OffertData.title</td>
                <td>@favourite.OffertData.description</td>
                <td>@favourite.OffertData.price zł</td>
                <td>@favourite.OffertData.quantity</td>
                <td>@favourite.OffertData.deadlineTime</td>
            </tr>
        }
    </table>
}
else
{
    <text><br />No records found...<br /></text>
}