@using LastMinuteWebApp.Models
@model SearchReservationViewModel
@{
    ViewBag.Title = "My Reservations";
}

<h2>My Reservations</h2>

<div style="color: green; font-size: 16px">
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</div>
<div style="color: red; font-size: 16px">
    @if (TempData["error"] != null)
    {
        @TempData["error"]
    }
</div>

<div>
    @using (Html.BeginForm("SearchReservations", "ClientPrivate", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.SearchTerm, "Phrase")
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SearchCategory, "Filter by")
            @Html.DropDownListFor(m => m.SearchCategory,
           Model.SearchCategoryList.Select(x => new SelectListItem { Text = x.Text, Value = x.Value }),
           new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div style="margin-top: 25px">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<br />

@if (Model.Reservations.Any())
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Descritpion</th>
            <th>Price</th>
            <th>Code</th>
            <th>Deadline time</th>
            <th>Action</th>
        </tr>

        @foreach (var reservation in Model.Reservations)
        {
            <tr>
                <td>@reservation.OffertData.title</td>
                <td>@reservation.OffertData.description</td>
                <td>@reservation.OffertData.price zł</td>
                <td>@reservation.ReservationData.Code</td>
                @if (DateTime.Compare(reservation.OffertData.deadlineTime, DateTime.Now) > 0)
                {
                    <td>@reservation.OffertData.deadlineTime</td>
                    <td>
                        @using (Html.BeginForm("DeleteReservation", "ClientPrivate"))
                        {
                            @Html.Hidden("ReservationId", reservation.ReservationData.id)
                            <input type="submit" value="Cancel" class="btn btn-default"/>
                        }
                    </td>
                }
                else
                {
                    <td style="color: red">@reservation.OffertData.deadlineTime</td>
                    <td>
                        <button type="button" class="btn btn-default disabled">Cancel</button>
                    </td>
                }
            </tr>
        }
    </table>
}
else
{
    <text><br />No records found...<br /></text>
}