@using LastMinuteWebApp.Models
@model SearchOffertViewModel

@{
    ViewBag.Title = "My Offerts";
}

<h2>My Offerts</h2>

<div style="color: green; font-size: 16px">
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</div>
<div style="color: red; font-size: 16px">
    @if (TempData["error"] != null)
    {
        @TempData["error"]
    }
</div>

<div>
    @using (Html.BeginForm("Search", "ClientBusiness", FormMethod.Get, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.SearchTerm, "Phrase")
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", autocomplete = "off"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SearchCategory, "Filter by")
            @Html.DropDownListFor(m => m.SearchCategory,
           Model.SearchCategoryList.Select(x => new SelectListItem { Text = x.Text, Value = x.Value }),
           new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div style="margin-top: 25px">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<br />

@if (Model.SearchResults.Any())
{
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Descritpion</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Deadline time</th>
            <th>Action</th>
        </tr>

        @foreach (var offert in Model.SearchResults)
        {
            <tr>
                <td>@offert.title</td>
                <td>@offert.description</td>
                <td>@offert.price zł</td>
                <td>@offert.quantity</td>
                @if (DateTime.Compare(offert.deadlineTime, DateTime.Now) > 0)
                {
                    <td>@offert.deadlineTime</td>
                    <td>
                        @using (Html.BeginForm("DeleteOffert", "ClientBusiness"))
                        {
                            @Html.Hidden("OffertId", offert.id)
                            <input type="submit" value="Delete" class="btn btn-default" />
                        }
                    </td>
                }
                else
                {
                    <td style="color: red">@offert.deadlineTime</td>
                    <td>
                        <button type="button" class="btn btn-default disabled">Delete</button>
                    </td>
                }
            </tr>
        }
    </table>
}
else
{
    <text><br />No records found...<br /></text>
}
