@using LastMinuteWebApp.Models
@model IEnumerable<Offert>

@{
    ViewBag.Title = "My Offerts";
}

<h2>My Offerts</h2>

<div style="color: green; font-size: 16px">
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Descritpion</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Deadline time</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td>@Html.DisplayFor(modelItem => item.description)</td>
            <td>@Html.DisplayFor(modelItem => item.price)</td>
            <td>@Html.DisplayFor(modelItem => item.quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.deadlineTime)</td>
        </tr>
    }
</table>

