@model LastMinuteWebApp.Models.EventManagerViewModel

@{
    ViewBag.Title = "OffertManager";
}

<h2>Offert Manager</h2>

<div>
    <div>
        @Html.Hidden("OffertId", Model.offert.id)
        <h4>Offert</h4>
        <hr />
        <dl class="dl-horizontal">
           

            <dt>
                @Html.DisplayNameFor(model => model.offert.title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.offert.title)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.offert.description)
            </dt>

            <dd>
                @Html.Raw(Model.offert.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.offert.price)
            </dt>
            

            <dd>
                @Html.DisplayFor(model => model.offert.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.offert.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.offert.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.offert.deadlineTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.offert.deadlineTime)
            </dd>
        </dl>
      
        
    </div>
    <div>
        @using (Html.BeginForm("OffertManager" ,"ClientBusiness", new { offerId = Model.offert.id } ))
        {
            <input type="text" id="test" name="searchString" value="" />
            <input type ="submit" class = "btn btn-default" value="Search code/user" />
        }
    </div>


        <table class="table">
            <tr>
                <th>User Email</th>
                <th>Code</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

            @foreach (var rezervation in Model.reservations)
            {
                if (rezervation.reservation.active == 1)
                {
                    <tr class="success">
                        <td>@rezervation.client.UserName</td>
                        <td>@rezervation.reservation.Code</td>
                        <td>Booked</td>
                        <td></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@rezervation.client.UserName</td>
                        <td>@rezervation.reservation.Code</td>
                        <td>Awaits</td>
                        <td>@Html.ActionLink("Book", "BookReservation", "ClientBusiness", new { rezervationId = rezervation.reservation.id, Id = Model.offert.id }, new { @class = "btn btn-default", style = "width: 100%" })</td>
                    </tr>
                }
            }
        </table>

    </div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
